.content__wrapper {
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  text-align: center;
}
body {
  background: linear-gradient(
    270deg,
    #8de6cf,
    #f0aaf3,
    #f7f5a5,
    #f0aaf3,
    #8de6cf
  );
  background-size: 1000% 1000%;
  color: black;
  font-weight: 400;
  -webkit-animation: bg 33s ease infinite;
  animation: bg 33s ease infinite;
}

@-webkit-keyframes bg {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}
@keyframes bg {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}
.inputForm {
  display: flex;
  flex-direction: column;
  &__userInput {
    height: 100px;
    font-size: 20px;
    color: red;
    margin: 10px 0;
    padding: 10px;
    border-radius: 15px;
    background-color: rgb(220, 220, 220, 0.2);
  }
  &__output {
    height: 100px;
    font-size: 20px;
    color: blue;
    margin: 10px 0;
    border-radius: 15px;
    background-color: rgb(220, 220, 220, 0.2);
  }
}
